.NewNoteForm form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  text-align: center;
}

.NewNoteForm textarea {
  background-color: transparent;
  padding: 0;
  width: 425px;
  border: 2px solid #3a3a3a;
  color: white;
  font-size: 15px;
  padding: 10px 0 0 10px;
  height: 45px;
}

.NewNoteForm button {
  width: 50px;
  height: 30;
  justify-self: center;
}