.ClientItems {
  background-color: #f4f5f7;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  height: 100%;
  max-width: 300px;
}

.ClientItems h2 {
  border: none;
}

.left {
text-align: left;
}