.ClientPageList div {
  background-color: #2A2A2A;
  max-width: 300px;
  min-width: 275px;
  justify-self: center;
} 

.ClientPageList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto;
  gap: 10px;
  row-gap: 20px;
  justify-content: center;
  margin-bottom: 15px;
}