.ClientsPage {
  margin-top: 20px;
  min-height: 885px;
  min-width: 1250px;
  background-color: #353535;
  border-radius: 2vmin;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  grid-template-rows: auto;
  gap: 20px;
}

.ClientsPage h1{
  grid-column: span 4;
}

.ClientsPage span {
  grid-column: span 4;
  justify-self: center;
}

.ClientList {
  grid-column: span 4;
  
}
