.StagesPage {
  height: 93vh;
  width: 100%;
  /* display: grid;
  grid-template-rows: repeat(auto); */
  background-color: #353535;
  border-radius: 2vmin;
  padding: 10px;
  overflow-x: auto;
  color: white;
}

.StagesPage h1 {
  color: white;
}
